<!--The content below is only a placeholder and can be replaced.-->
<!-- Removed class divcolor-->
<div>
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div> Week Days :
    <select>
      <option *ngFor="let i of weekDays">{{i}}</option>
    </select>
  </div>
  <span *ngIf = "validationStatus; else condition1">Condition is valid.</span>
  <ng-template #condition1>Condition is invalid</ng-template>
  <br/>
  <button (click)="buttonClickFunction($event)">
    Click Me
  </button>
  <!-- Right now making it commented
    <app-first-cmp></app-first-cmp> -->
</div>
<router-outlet></router-outlet>