<!--The content below is only a placeholder and can be replaced.-->
<!-- Removed class divcolor-->
<div>
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div> Week Days :
    <select (change) = "changeWeekDays($event)">
      <option *ngFor="let i of weekDays">{{i}}</option>
    </select>
  </div>
  <div>
    <span *ngIf = "validationStatus; else condition2">Condition is valid.</span>
    <ng-template #condition1>Condition is valid from template</ng-template>
    <ng-template #condition2>Condition is invalid from template</ng-template>
  </div>
  <br/>
  <button (click)="buttonClickFunction($event)">
    Click Me
  </button>
  <!-- Right now making it commented
    <app-first-cmp></app-first-cmp> -->
</div>
<router-outlet></router-outlet>